<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="First_UI.First_Login_Test"/>
      <class name="First_UI.Second_Verify_Title_Test_With_SoftAssert"/>
      <class name="First_UI.TestNG_Annotations"/>
      <class name="First_UI.Third_Group_Test_Cases"/>
      <class name="First_UI.Priorty_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
